@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Love+Ya+Like+A+Sister|Special+Elite&display=swap');

.navi {
    float: right;
}
#piz-pap {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: darkorange;
}
#spantext {
    color: yellow;
}


.landing {
    background-image: url("../images/pizzabg.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

#push {
    padding-top: 10%;
}

.landing-text {
    margin-top: 10%;
}

.landing-text h1,
h2 {
    font-family: 'Love Ya Like A Sister', cursive;
}

.landing-text h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
}


.exc {
    color: yellow;
}
    
.welcome {
    padding-top: 30px;
}

.karibu-img {
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 130px;
    height: 400px;
    width: 400px;
}

.karibu-txt {
    margin-top: 160px;
}

.txt {
    font-family: system-ui, cursive;
    color: black;
    font-size: 23px;
}

.txt-big {
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}

