@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Love+Ya+Like+A+Sister|Special+Elite&display=swap');

.navi {
    float: right;
}
#piz-pap {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: darkorange;
}
#spantext {
    color: yellow;
}


.landing {
    background-image: url("../images/pizzabg.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

#push {
    padding-top: 10%;
}

.landing-text {
    margin-top: 10%;
}

.landing-text h1,
h2 {
    font-family: 'Love Ya Like A Sister', cursive;
}

.landing-text h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
}


.exc {
    color: yellow;
}
    
.welcome {
    padding-top: 30px;
}

.karibu-img {
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 130px;
    height: 400px;
    width: 400px;
}

.karibu-txt {
    margin-top: 160px;
}

.txt {
    font-family: system-ui, cursive;
    color: black;
    font-size: 23px;
}

.txt-big {
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}

.menu-btn {
    border-radius: 20px;
    margin-top: 20px;
    color: #000;
}

figcaption {
    font-family: 'Oswald', serif;
}

#menu {
    padding-top: 20px;
}

.menu {
    margin-top: 30px;
    background-image: url("../images/sec/b4.jpg");
    padding: 0;
}

.menu-overlay {
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}


figure img {
    height: 260px;
    width: 260px;
}

nav ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li{
    display: inline;
    float: left;
}

li a{
    display: block;
  color: rgb(187, 157, 146);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.orders {
    height: inherit;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}


#order-pizza {
    padding: 20px 50px 20px 50px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.label{
    color: white;
}

.smed i {
    color: rgb(39, 34, 34);
    font-size: 40px;
    margin: 10px;
    padding-top: 10px;
}
.contact{
    height: inherit;
    padding: 20px;
    background-color: white;
    border-radius: 20px;

    background-repeat: no-repeat;
    background-size: cover;
}

.orders h1{
    text-align: center;
    color: antiquewhite;
    
}
.icons{
    padding-left: 40%;
    
}






